/.claude
/.venv

# macOS
**/.DS_Store

# Python cache
**/__pycache__/

#Only keep the subfolders with git.keep and store none files in the subfolders
training/**
!training/**/
!training/*.py
!training/*.ipynb 
!training/**/.gitkeep

#Only keep the subfolders with git.keep and store none files in the subfolders
results/**
!results/**/
!results/**/.gitkeep

# Only keep the subfolders with git.keep and store none files in the subfolders
instances/**
!instances/**/
!instances/**/.gitkeep

#export
delete_policies_from_results.py
export_results_extra.py