/.claude
/.venv

# macOS
**/.DS_Store

# Python cache
**/__pycache__/

#Keep all training files, except exact_value_function and deep_q_networks outputs (too large)
training/exact_value_function_training/**
!training/exact_value_function_training/**/.gitkeep
training/deep_q_networks_training/**
!training/deep_q_networks_training/**/.gitkeep
training/proximal_policy_optimization_training/**
!training/proximal_policy_optimization_training/**/.gitkeep

#Only keep the subfolders with git.keep and store none files in the subfolders
#results/**
#!results/**/
#!results/**/.gitkeep

# Only keep the subfolders with git.keep and store none files in the subfolders
#instances/**
#!instances/**/
#!instances/**/.gitkeep

#export
delete_policies_from_results.py
export_results_extra.py